{% extends "master1.html" %}
{% load static %}
{% block content %}
  <body>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
                {% for message in messages %}
                <li class="list-group-item text-success">
                  {{ message }}
                </li>
              {% endfor %}
            </ul>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="{% url "update" product.id %}" method="POST" class="tm-edit-product-form" enctype = 'multipart/form-data'>
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label for="name">Product Name</label>
                    <input id="name" name="p_name" value="{{product.name}}" type="text" class="form-control validate"required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="price">Product Price</label>
                  <input id="price" name="p_price" value="{{product.price}}" type="number" class="form-control validate" required />
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control validate" rows="3" name="p_description" required>{{ product.description }}</textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for= for="category" >Category</label>
                    <select class="custom-select tm-select-accounts" id="category" name="p_category">
                      <option selected>Select category</option>
                      {% for results in show_category %}
                      <option value="{{results.id}}">{{results.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="row">
                      {% comment %} <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label
                            for="expire_date"
                            >Expire Date
                          </label>
                          <input
                            id="expire_date"
                            name="expire_date"
                            type="text"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                        </div> {% endcomment %}
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="stock">Units In Stock</label>
                          <input id="stock" name="p_stock" value="{{product.stock}}" type="text" class="form-control validate" required />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="discount">Discount</labelfor>
                          <input id="stock" name="p_discount" value="{{product.discount}}"type="text"class="form-control validate"required/>
                        </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i
                  class="fas fa-cloud-upload-alt tm-upload-icon"
                  onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" name="p_image" style="display:none;" />
                  <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE" onclick="document.getElementById('fileInput').click();"/>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit</button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>


    <script src="{% static 'js/admin/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'adminPanel/js/jqery-ui-datepicker/jquery-ui.min.js' %}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="{% static 'js/admin/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
  </body>
</html>
{% endblock content %}