  .card-link {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
  }

  .card-link:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  .card-link:hover .card-body h6 {
    color: #f85707; /* Change text color on hover */
  }

  .card-link:hover .card-body p {
    color: #007bff; /* Change price color on hover */
  }

  .load-more-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #00a1c9;
    border: 2px solid #00a1c9;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }

.load-more-btn:hover {
    background-color: #00a1c9;
    color: #fff;

}

.flash-sale-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    /* border-top: 4px solid #ff0; yellow accent at the top */
    margin: 40px auto;
    border-bottom: 0.1px solid gray;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0.0, 0.0); */
}

.sale-text h2 {
    font-size: 24px;
    color: #333;
}

.sale-text .on-sale {
    font-size: 16px;
    color: #ff4d4d; /* Red color for "On Sale Now" */
    margin: 0;
}

.shop-all-button a {
    display: inline-block;
    padding: 10px 20px;
    color: #ff6600; /* Orange color for the button */
    border: 2px solid #ff6600;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.shop-all-button a:hover {
    background-color: #ff6600;
    color: white;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.product-item {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.product-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}
.product-item h3 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
.product-item p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}
.product-item .price {
  font-size: 14px;
  color: #007BFF;
  margin-bottom: 15px;
  font-weight: bold;
}
.product-item:hover {
  transform: translateY(-5px);
}
a {
  text-decoration: none;
  color: inherit;
}