{% extends "master.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel = "stylesheet" href="{% static "css/category_style.css" %}">

</head>
<body>

    <div class="container">
        <h2>Categories</h2>
        <div class="container">
            <a href="{% url "add_category" %}">
              <button class="load-more-btn">Add More Products</button>
            </a>
          </div>
          <ul class="list-group">
            {% for message in messages %}
              <li class="list-group-item text-success">
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        <div class="categories-grid">
            {% for cate in categories %}
            <a href="#" class="category-item">
                <img src="{{cate.image.url}}" alt="{{cate.name}}">
                <h3>{{cate.name}}</h3>
            </a>
            {% endfor %}
        </div>
    </div>

</body>
</html>

{% endblock  %}
