{% extends "master.html" %}
{% load static %}

{% block content %}
<link rel = "stylesheet" href= "{% static "css/index_style.css" %}">
<div class="container">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        
      </div>
      <div class="carousel-inner">
        {% for bann in banner %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{bann.banner_image.url}}" class="d-block w-100" alt="...">
        </div>
      {% endfor %}
        
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>


<div class="container">
  <div class="flash-sale-section">
    <div class="sale-text">
        <p class="on-sale">On Sale Now</p>
    </div>
    <div class="shop-all-button">
        <a href="#">SHOP ALL PRODUCTS</a>
    </div>
</div>


<div class="container">
  <div class="products-grid">
      {% for product in products %}
      <a href="{% url "productdetail" id=product.id %}" class="product-item">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>
          <p class="price">${{ product.price }}</p>
          {% comment %} <p>{{ product.description|truncatewords:15 }}</p> <!-- Shortened description --> {% endcomment %}
      </a>
      {% endfor %}
  </div>
</div>



{% endblock content %}